fastapi
uvicorn[standard]
psycopg2-binary
pydantic
pydantic-settings
python-multipart
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
groq
PyPDF2
python-docx
Pillow
pytesseract
requests
typing-extensions
bcrypt
cryptography